{% extends 'base.html.twig' %}

{% block title %}Icon{% endblock %}

{% block body %}
    <h1>Icon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ icon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ icon.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ icon.value|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_icon_index') }}">back to list</a>

    <a href="{{ path('app_icon_edit', {'id': icon.id}) }}">edit</a>

    {{ include('icon/_delete_form.html.twig') }}
{% endblock %}
